<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="spinner.isLoading |async"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="env.handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="center-vert"></div>
  <form #loginForm="ngForm" (ngSubmit)="connexion(loginForm)" >
    <ion-list>
      <ion-item lines="full" fill="">
        <ion-label position="floating">Nom d'utilisateur</ion-label>
        <ion-input required type="text" placeholder="Nom d'utilisateur" [formControl]="telOrMailFormControl"></ion-input>
        <ion-note slot="error" *ngIf="telOrMailFormControl.hasError('required') && telOrMailFormControl.dirty">
          L'adresse mail ou le numero de telephone doit etre obligatoire <strong>obligatoire</strong>
        </ion-note>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" required [formControl]="passwordFormControl"/>
        <ion-note slot="error" *ngIf="passwordFormControl.hasError('required') && passwordFormControl.dirty">
          Veuillez entrer le mot de passe
        </ion-note>
      </ion-item>
      <ion-item lines="full" fill="">
        <ion-checkbox labelPlacement="end" [(ngModel)]="stayConnected" name="stayConnected"></ion-checkbox>
        <ion-label>
          <span>Rester connecté(e)</span>
        </ion-label>

      </ion-item>
    </ion-list>

    <ion-button type="submit" [disabled]="!isCorrectForm()" expand="block">
      Connexion
    </ion-button>
    <br>
    <ion-button (click)="env.goToSignup()">S'Innscrire</ion-button>
  </form>
</ion-content>