<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="">

    <ion-list>
      <ion-item (click)="util.goToProfil()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-item>

      <ion-item (click)="util.goToListHospital()">
        <ion-icon name="business"></ion-icon>
        <ion-label>Liste des hopitaux</ion-label>
      </ion-item>

      <ion-item (click)="util.goToMyHospital()" *ngIf="util.isUser()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Mon hopital Hopital de reference</ion-label>
      </ion-item>
      <ion-item (click)="util.goToMyDoctor()" *ngIf="util.isUser()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Mon docteur</ion-label>
      </ion-item>
      <ion-item (click)="util.goToTransport()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Transport Medical</ion-label>
      </ion-item>
    </ion-list>
    <ion-button (click)="util.logOut()" color="danger" style="margin-top: 100%;">
      <ion-icon name="arrow-back"></ion-icon>
      Deconnexion
    </ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Tous nos hopitaux</ion-title>
      <ion-progress-bar type="indeterminate" *ngIf="spinner.isLoading |async"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen="true">
    <ion-refresher slot="fixed" (ionRefresh)="util.handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
    <ion-grid>
      <ion-row text-center id="">
        <ion-col *ngFor="let hop of  hospitals">
          <ion-card (click)="showUserActionSheet(hop)" *ngIf="util.isUser()" class="center">
            <ion-card-header>
              {{hop.username}}
            </ion-card-header>
            <ion-card-content class="center">
              <div>
                <ion-col class="center"> 
                  <img class="" height="80" src="assets/img/hopital.gif">  </ion-col>                       
              </div>
              <ion-col class="center">
                <ion-text>Heure d'ouverture : {{hop.heureOuverture}}</ion-text>
                <br>
                <ion-text>Heure de fermeture : {{hop.heureFermeture}}</ion-text>
              </ion-col>
              <br>
              <ion-text color="{{hop.isOpen?'primary':'danger'}}"> {{util.isOpen(hop.isOpen)}}</ion-text>

            </ion-card-content>
          </ion-card>
          <ion-card (click)="showHopitalActionSheet(hop)" *ngIf="util.isHopital()" class="center">
            <ion-card-header>
              {{hop.username}}
            </ion-card-header>
            <ion-card-content class="center">
              <div>
                <ion-col class="center"> 
                  <img class="" height="80" src="assets/img/hopital.gif">  </ion-col>                       
              </div>
              <ion-col class="center">
                <ion-text>Heure d'ouverture : {{hop.heureOuverture}}</ion-text>
                <br>
                <ion-text>Heure de fermeture : {{hop.heureFermeture}}</ion-text>
              </ion-col>
              <br>
              <ion-text color="{{hop.isOpen?'primary':'danger'}}"> {{util.isOpen(hop.isOpen)}}</ion-text>

            </ion-card-content>
          </ion-card>
          <ion-card (click)="showDriverActionSheet(hop)" *ngIf="util.isDriver()">
            <ion-card-header>
              {{hop.username}}
            </ion-card-header>
            <ion-card-content class="center">
              <div>
                <ion-col class="center"> 
                  <img class="" height="80" src="assets/img/hopital.gif">  </ion-col>                       
              </div>
              <ion-col class="center">
                <ion-text>Heure d'ouverture : {{hop.heureOuverture}}</ion-text>
                <br>
                <ion-text>Heure de fermeture : {{hop.heureFermeture}}</ion-text>
              </ion-col>
              <br>
              <ion-text color="{{hop.isOpen?'primary':'danger'}}"> {{util.isOpen(hop.isOpen)}}</ion-text>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>